*{
    margin: 0px;
}
.main{
    margin: 0 auto;
    min-height: 98vh;
    min-width: 80%;
    background-image: url(../img/morocco-blue.png);
}
.container, form, button{
    margin: 10px;
}
.container h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 69px;
    color: gold;
}
#giphy-form{
    text-align: center;
    /* font-size: 60px; */
}
#giphy-Input, #add-btn{
    font-size: 20px;
}
#button-container{
    text-align: center;
    /* border:solid black; */
}
.btn{
    border: solid red;
    border-radius: 20%;
}
img{
    margin: 20px;
    border: solid lightblue;
    border-radius: 50%;
    left: 99px;
    position: relative;
}
#giphy-container{
    /* position: relative;
    text-align: center; */
    background-color: brown;
}